*{margin: 0;
    padding: 0;
  }
:root{
    --sotetkek:#0F1035;
    --kek: #365486;
    --vilagoskek: #7FC7D9;
    --feher: #DCF2F1;
}
  body{
  position: relative;
  height: 100vh;
  background-color: #DCF2F1;
  }
  label{
      cursor: pointer;
  }
  input{
      display:none;
  }
  a{
      display: flex;
      justify-content: center;
  }
  
  .header{
      position: relative;
      width: 100%;
      max-width: 1600px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
  }
  .header .cim{
      font-size: 4vw;
      color: #0F1035;
  }
  .header a .vissza_a_kezdolapra{
    display: flex;
    align-items: center;
    position: absolute;
    top:25%;
    left: 2vw;
    background-color: #365486;
    color: #DCF2F1;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
  }

  
  
  .utasitas{
      width: 100%;
      max-width: 1600px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15vw;
  }
  .utasitas_szoveg{
      color:#365486;
      font-size: 2vw;
      position: absolute;
      left: 5vw;
      line-height: 1.5;
      margin-top: 2vh;
  }


.content{
    width:100% ;
    height: 120vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-flow:column;

}
.gomb{
    font-size: 2vw;
    height: 20vh;
    width: 70%;
    background-color:var(--kek);
    color: #DCF2F1;
    border-radius: 20px;
}
.gomb:hover{
    background-color: #DCF2F1;
    color: #365486;
}
.gomb:disabled{
    background-color: #7FC7D9;
    color: #DCF2F1;
}

@media screen and (max-width: 700px) {
    .gomb{
        font-size: larger;
    }
}