*{margin: 0;
    padding: 0;
  }
:root{
    --sotetkek:#0F1035;
    --kek: #365486;
    --vilagoskek: #7FC7D9;
    --feher: #DCF2F1;
    --C:red;
    --D:orangered;
    --E:yellow;
    --F:yellowgreen;
    --G:aqua;
    --A:rgb(58, 58, 243);
    --B:rgb(53, 53, 171);
    --C2:red;
}
  body{
  position: relative;
  background-color: #DCF2F1;
  }
  label{
      cursor: pointer;
  }
  input{
      display:none
  }
  a{
      display: flex;
      justify-content: center;
  }
  
  .header{
      position: relative;
      width: 100%;
      max-width: 1600px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
  }
  .header .cim{
      margin-top: 1vh;
      line-height: 2;
      font-size: 4vw;
      color: #0F1035;
  }
  .header a .vissza_a_kezdolapra{
    display: flex;
    align-items: center;
    position: absolute;
    top:25%;
    left: 2vw;
    background-color: #365486;
    color: #DCF2F1;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
  }
  
  .utasitas{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
}
.utasitas_szoveg{
    color:#365486;
    font-size: 2vw;
    position: absolute;
    left: 5vw;
    line-height: 1.5;
    margin-top: 2vh;
}
.content{
    width:100% ;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.xilofon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.xilofon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.hangjegy {
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hangjegy::before, .hangjegy::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
}

.hangjegy::before {
    top: 25%;
}

.hangjegy::after {
    bottom: 10%;
}
#C:hover,#D:hover,#E:hover,#F:hover,#G:hover,#A:hover,#B:hover,#C2:hover,#gomb_C:hover,#gomb_D:hover,#gomb_E:hover,#gomb_F:hover,#gomb_G:hover,#gomb_A:hover,#gomb_B:hover,#gomb_C2:hover{
    background-color:#bbb;
}
#C:active,#D:active,#E:active,#F:active,#G:active,#A:active,#B:active,#C2:active,#gomb_C:active,#gomb_D:active,#gomb_E:active,#gomb_F:active,#gomb_G:active,#gomb_A:active,#gomb_B:active,#gomb_C2:active{
    background-color:#262626;
}



#C{ background-color: var(--C); width: 80px; height: 400px; }
#D{ background-color: var(--D); width: 80px; height: 360px; }
#E{ background-color: var(--E); width: 80px; height: 335px; }
#F{ background-color: var(--F); width: 80px; height: 305px; }
#G{ background-color: var(--G); width: 80px; height: 280px; }
#A{ background-color: var(--A); width: 80px; height: 250px; }
#B{ background-color: var(--B); width: 80px; height: 230px; }
#C2{ background-color: var(--C2); width: 80px; height: 200px; }


.palca {
    position: absolute;
    background-color: black;
    width: 70%;
    height: 30px;
}

#felso_palca {
    transform: rotate(13deg);
    top:42%;
}

#also_palca {
    transform: rotate(2deg);
    bottom: 5%;
}
.gomb_container{
    margin-top: 10vh;
}
.gomb{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#gomb_C{background-color: var(--C);}
#gomb_D{background-color: var(--D);}
#gomb_E{background-color: var(--E);}
#gomb_F{background-color: var(--F);}
#gomb_G{background-color: var(--G);}
#gomb_A{background-color: var(--A);}
#gomb_B{background-color: var(--B);}
#gomb_C2{ background-color: var(--C2);}


@media (max-width: 700px) and (orientation: portrait) {
    .palca {
        width: 90%;
        height: 15px;
    }
    #felso_palca {
        transform: rotate(12deg);
        top:43%;
    }
    #also_palca{
        bottom:8%;
    }

#C{width: 40px; height: 200px; }
#D{width: 40px; height: 185px; }
#E{width: 40px; height: 167px; }
#F{width: 40px; height: 155px; }
#G{width: 40px; height: 140px; }
#A{width: 40px; height: 125px; }
#B{width: 40px; height: 110px; }
#C2{width: 40px; height: 100px; }

    .hangjegy{
        margin:0.7vw;
    }
    .xilofon_container{
        align-self: flex-start;
        margin-top: 50px;
    }
    .vissza_a_kezdolapra{
        font-size: 9px;
    }
    .utasitas{
        height: 170px;
      }
      .header .cim{
            font-size: larger;
        }
        .utasitas_szoveg{
            align-self: flex-start;
            font-size: large;
        }
}
@media (max-width:1000px) and (orientation: landscape) {
    .palca{
        width:90%;
    }
    .xilofon_container{
        margin-top:200px;
    }
    .header{
        height: 100px;
    }
    .header a .vissza_a_kezdolapra{
        height: 15vh;
    }
}
